{% extends 'base.html' %}
{%block title%}
index 
{% endblock title %}
{% block  body %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/static/page3.css">
</head>
<body>
    <main>
        <div class="div1 col-1">
          <p style="color: black;"><i>POLLY HOUSE</i></p>
            <div class="div2 col-2">
                <div class="avatar col-3">
                    <img src="download (1).png">
                    <input type="text" id="name" placeholder="Name" class="pip">
                </div>
            </div>
          
          <hr>
        </div>
        
        <div class="div3 col-4" style="color:black">TEMPRATURE
        <input type="text" id="name">
        </div>
        <div class="div4 col-5 "style="color:black">HUMIDITY
        <input type="text" id="name">
        </div>
        <div class="div8 col-6" style="color:black">MOISTURE
        <input type="text" id="name">
        </div>
        
        <div class="div5 col-7"><br><b>POLYHOUSE</b><br><br><hr><br><br>
            <p><a href="deshboad.html"><i>DESHBOARD</i></a></p><hr><br><br>
            <p><a href="polly.html"><i>POLLY</i></a></p><hr><br><br>
            <p><a href="soiltype.html"><i>SOIL TYPE</i></a></p><hr><br><br>
            <p><a href="crop type.html"><i>CROP TYPE</i></a></p><hr><br><br>
            <p><a href="seasoncrop.html"><i>SEASON OF CROP</i></a></p><hr><br><br>
            <p><a href="withoutseason.html"><i>WITHOUT SEASON</i></a></p><hr><br><br>
            <p><a href="siolmanage.html"><i>SOIL MANAGEMENT</i></a></p><hr><br><br>
            <p><a href="about.html"><i>ABOUT</i></a></p><hr><br><br>
            <p><i>LOGOUT</i></p><hr><br>
        </div>
        <!-- <div class="div6">POLLY MANAGEMENT
            Name<input type="text" id="name">
        </div> -->
        <!-- <div class="div7">CONTECT US
            Name<input type="text" id="name">
        </div> -->
    </main>
</body>
</html>


{% endblock body %}